@media (max-width:1199px) {
    .container {
        width: 900px;
    }
    .subtitle {
        color: #999;
        font-family: 'Noto Sans';
        font-size: 14px;
    }
}
@media (max-width:899px) {
    .container {
        width: 600px;
    }
    .section {
        padding: 60px 0 67px;
    }
    .section-header {
        margin-bottom: 40px;
    }
    .section-products {
        row-gap: 40px;
    }
    .title {
        font-size: 32px;
    }
    .subtitle {
        font-size: 12px;
    }
    .button {
        padding: 12px 25px 14px;
        font-size: 18px;
    }
}
@media (max-width:599px) {
    .container {
        width: 320px;
    }
    .section {
        padding: 60px 0 40px;
    }
    .section-products {
        justify-content: center;
        row-gap: 20px;
    }
    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .card-description {
        margin-bottom: 10px;
    }
    a.card-link {
        font-size: 18px;
    }
}
